<div class="container">
    <h2>Glyphses - A collaborative storywriting app</h2>
    <h4>Create stories together with other users, one small paragraph at a time</h4>
    <ul>
        <li>Begin a story with just a couple of sentences (or a whole page if you prefer)</li>
        <li>A random story will be assigned to you daily, add a couple of sentences to expand it</li>
        <li>See who contributed to your story and add the pages you like the most</li>
    </ul>

    <p>Complete your daily contribution 3 times to get an extra page</p>
    <p>Have 3 page accepted to get a new story</p>

    <p>Got any questions or feedback?</p>
    <p>Want a language added?</p>
    <p> admin@glyhpses.com</p>
    <a href="https://play.google.com/apps/testing/com.storybuilder"><img src="../../assets/play.png"></a>
</div>