<div class="container">
    <h2>Glyphses</h2>
    <h4>Create stories and contribute to others in your target language.</h4>

    <ul>
        <li>Create your first story and set your target language</li>
        <li>You'll get a random story every day with your target language</li>

        <li>See who contributed to your story and add the pages you like the most</li>
    </ul>
  
    <p>Complete your daily contribution 3 times to get an extra page</p>
    <p>Have 3 page accepted to get a new story</p>

    <p>Got any questions or feedback? Want a language added? Send an email:</p>
    <p> admin@glyhpses.com</p>
    <a href="https://play.google.com/store/apps/details?id=com.storybuilder"><img src="../../assets/play.png"></a>
</div>