<div class="container">
    <h2>Glyphses - A collaborative storywriting project</h2>
    <h4>Create stories together with other users, one small paragraph at a time</h4>
    <ul>
        <li>Begin a story with just a couple of sentences (or a whole page if you prefer)</li>
        <li>A random story will be assigned to you daily based on the languages you used, add a couple of sentences to expand it</li>
        <li>See who contributed to your story and add the pages you like the most</li>
    </ul>
    <ul style="list-style-type:none">
        <li>⭐ Complete your daily contribution 3 times to get an extra page</li>
        <li>⭐ Have 3 pages accepted to get a new story</li>
    </ul>
    <ul style="list-style-type:none; text-align: center;">
        <li>Got any questions or feedback?</li>
        <li>Want a language added?</li>
        <li><a href="mailto:admin@glyphses.com">admin@glyphses.com</a></li>
    </ul>
    <a href="https://play.google.com/apps/testing/com.storybuilder"><img src="../../assets/play.png"></a>
</div>