a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--main-btn-color);
    font-size: 1rem;
    padding: 5px;
    border-radius: 15px;
    transition: all 0.5s ease;
}

a:hover {
    color: var(--text-color);
    background-color: var(--main-btn-color);

}

.active {
    font-weight: bold
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.group_big {
    display: flex;
    justify-content: space-around;
    width: 20rem
}

.group_small {
    display: flex;
    justify-content: space-around;
    width: 10rem
}

.header {
    background: var(--main);
    background: linear-gradient(90deg, var(--main) 0%, var(--secondary) 100%);
    padding: 10px;
    width: 100%;
}

@media (max-width: 450px) {
    a {
        font-size: 12px;
    }

}