<div class="header" *ngIf="user$ | async as user">
    <div class="container"  *ngIf="user._id">
        <a routerLink="/daily" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"><mat-icon>wb_sunny</mat-icon>Daily</a>
        <a routerLink="/" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"><mat-icon>content_copy</mat-icon>Stories</a>
        <a routerLink="/notes" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"><mat-icon>notifications</mat-icon>Notifications</a>
        <a routerLink="/profile" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"><mat-icon>account_circle</mat-icon>{{user.name}}</a>
    </div>
    <div class="container" *ngIf="!user._id">
        <a routerLink="/" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"><mat-icon>content_copy</mat-icon>Stories</a>
        <a routerLink="/login" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"><mat-icon>power_settings_new</mat-icon>Sign in</a>
        <a routerLink="/signup" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"><mat-icon>assignment_ind</mat-icon>Sign up</a>
    </div>
</div>
