<div [class]="isMe ? null:'container'">
    <div class="group" *ngIf="user">
        <div class="top">
            <b>{{user.name}}</b>
            <i>Last activity: {{this.lastActivity}}</i>
        </div>
        <span *ngIf="!user.active">Inactive user</span>
        <span>{{user.coins}}x coin</span>
    </div>
    <mat-divider></mat-divider>
    <div *ngIf="storyData$|async as story">
        <div class="group" *ngIf="story">
            <span>Stories: {{story.size}}</span>
            <span>Rating: {{story.rating}} ({{story.upVotes}} / {{story.totalVotes}})</span>
        </div>
        <div *ngIf="!story">
            <mat-spinner [diameter]="50"></mat-spinner>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div *ngIf="pageData$|async as page">
        <div class="group" *ngIf="page">
            <span>Pages: {{page.size}}</span>
            <span>Rating: {{page.rating}} ({{page.upVotes}} / {{page.totalVotes}})</span>
            <mat-divider></mat-divider>
            <div class="group" *ngIf="page.langInfo?.length !== 0">
                <span>Used languages:</span>
                <span *ngFor="let obj of page.langInfo">{{obj.language.text}}: {{obj.ratio}}% - {{obj.level}}</span>
            </div>
            <div *ngIf="!page">
                <mat-spinner [diameter]="50"></mat-spinner>
            </div>
        </div>
    </div>
</div>