<div class="filter-container">
  <form [formGroup]="filterForm" class="filter-options-container">

    <section class="filter-field">
      <label>Language:</label>
      <i class="selected-levels" (click)="remove(selectedLanguage)"
        *ngFor="let selectedLanguage of selectedLanguages">{{selectedLanguage}}&nbsp;&nbsp;</i>
      <input type="text" placeholder="Pick one" matInput [formControl]="languageControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)='selectOption($event.option.value)'>
        <mat-option *ngFor="let language of filteredLanguages| async" [value]="language.name">{{language.name}}
        </mat-option>
      </mat-autocomplete>
    </section>

    <div class="filter-field" formControlname="levels">
      <label>Level:</label>
      <input type="checkbox" value="A" (change)="onCheckboxChange($event)" [checked]="isCheckboxChecked('A')">Beginner
      <input type="checkbox" value="B" (change)="onCheckboxChange($event)"
        [checked]="isCheckboxChecked('B')">Intermediate
      <input type="checkbox" value="C" (change)="onCheckboxChange($event)" [checked]="isCheckboxChecked('C')">Advanced
    </div>

    <section class="filter-field" formControlname="from" (change)="onFromChange($event)">
      <label>Story:</label>
      <input type="radio" value="own" name="from" />Own
      <input type="radio" value="favorite" name="from" />Favorite
      <input type="radio" value="all" name="from" checked />All
    </section>

    <section class="filter-field" (change)="onOpenChange($event)">
      <label>Archived:</label>
      <input type="radio" value="no" name="open" />Yes
      <input type="radio" value="yes" name="open" />No
      <input type="radio" value="both" name="open" checked />Both
    </section>
  </form>
  <div class="filter-field">
    <button type="button" class="cancel-btn" (click)="onClear()">Clear</button>
    <button type="button"  (click)="onApply()">Apply</button>
  </div>
</div>