input{ 
    margin-right:5px;
    margin-left:15px
}

label{ 
  margin-right:5%
}

.filter-container{
    display:flex;
    flex:1;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.filter-options-container{
   display:flex;
    flex-direction: column;
}
.filter-field{
    display:flex;
    flex-direction: column ; 
    justify-content: flex-start;
    
    padding:2%;
}

.selected-levels{
    cursor:pointer;
}

@media (max-width: 450px){
    .levels{
        padding-right: 10px;
    }
}