button:hover{
    color: var(--text-color);
    background-color: var(--main-btn-color);
}

button:focus{
    box-shadow:0 0 0 0 
}
button{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: var(--main-btn-color);
    border-color: var(--main-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.cancel-btn{
    color:var(--cancel-btn-color)
}
.cancel-btn:hover{
    background-color: var(--cancel-btn-color);
}

input{ 
    margin-right:5px;
    margin-left:15px
}

label{ 
  margin-right:5%
}

.filter-container{
    display:flex;
    flex:1;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.filter-options-container{
   display:flex;
    flex-direction: column;
}
.filter-field{
    display:flex;
    flex-direction: row ; 
    justify-content: flex-start;
    align-items:center;
    padding:2%;
}

.cancel-button{
    color: var(--cancel-btn-color);
    border-color: var(--cancel-btn-color);
}
.cancel-button:hover{
    color: var(--text-color);
    background-color: var(--cancel-btn-color);
}
.cancel-button:focus{
    box-shadow:0 0 0 0.25rem var(--cancel-btn-color);
}


.selected-levels{
    cursor:pointer;
}
