mat-icon{
    font-size:2rem;
    margin:2% 2% 0% 0%;
}
app-author{
    cursor:pointer;
    align-self: center;
    font-style: italic;
    margin-bottom:1%
}
app-author:hover{
    text-decoration: underline;
}
.button-container{
    display:flex;
}

.page-card{
    align-items:flex-start;
    cursor:initial;
}
.story-card:hover{
    transform: scale(1.1, 1.1);
}
.rating{
    margin:0 12px 0 5px
}

button{
    border-color: transparent;
}

span mat-icon{
    cursor:pointer;
    font-size:1rem;
}

.liked{
    color:var(--main-btn-color);
}
.disliked{
    color:var(--cancel-btn-color);
}

.pushed{
    color:var(--b-color);
    
}
.top{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

