mat-icon{
    font-size:2rem;
    margin:2% 2% 0% 0%;
}
app-author{
    cursor:pointer;
}
app-author:hover{
    text-decoration: underline;
}
h2{
    font-size:1.8rem;
}
.button-container{
    display:flex;
}
.description{
    font-size: 0.9rem;
    font-style: italic;
    font-weight: normal;
    line-height: 1rem;
}
.page-card{
    align-items:flex-start;
    cursor:initial;
    padding:5%;
    white-space:pre-wrap;
}
.page-card .footer{
    display:flex; 
    flex-direction:row;
    justify-content: space-between;
    width:100%;
}
.story-card:hover{
    transform: scale(1.05, 1.05);
}
.story-data{
    display:flex; 
    flex-direction:row;
    justify-content:space-between;
    width:100%;
    padding:1%
}

.rating{
    margin:0 12px 0 5px
}

button{
    border-color: transparent;
}

span mat-icon{
    cursor:pointer;
    font-size:1rem;
    word-break: break-all;
}

.liked{
    color:var(--main-btn-color);
}
.disliked{
    color:var(--cancel-btn-color);
}

.pushed{
    color:var(--b-color);
    
}
.top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom:5%;
}

.icon{
    margin-bottom:1rem;
}

@media (max-width: 450px){
  
    .page-card{
        word-break: break-all;
    }
}

@media (min-width:450px) {
    h2 {
        font-family: "Comic Sans MS", "Comic Sans", cursive;
    }
}