h1{
    justify-content: center;
    display: flex;
    align-items: center;
    color: var(--main-btn-color);
}

.container{
    margin-top:1rem;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color:var(--main); 
    border-radius:10px; 
    padding:3%
}
.card:hover {
    transform: scale(1.05, 1.05);
  }

.A{
    background-color: var(--a-color);
    color:black;
}


.B{
    background-color:var(--secondary);
    color:black;
}

.C{
    background-color: var(--c-color);
    color:black;
}
.bold{
    font-weight: bold;
}
