.container{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-top:1%;
}
.top{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 450px;
    margin-bottom: 1%;
    font-size: 1rem;
}
.title{
    font-weight: bold;
    cursor:pointer;
}
.title:hover{
    text-decoration: underline
}



