<div mat-dialog-content class="container">
    <div class="top">
        <span [class]="(input.value.length>280 || input.value.length<10) ? 'C' :'A' ">{{input.value.length}}/280</span>
        <div class="words">
            <span *ngFor="let word of words" [class]="[word.color, 'word']">
                <mat-icon *ngIf="word.color==='C'">clear</mat-icon>
                <mat-icon *ngIf="word.color==='A'">check</mat-icon>
                <div>{{word.value}}</div>
            </span>
        </div>
    </div>
    <textarea #input name="input" class="text" (input)="changeText($event)"></textarea>
    <button [disabled]="!validForm" (click)="onSubmit(input.value)">Submit</button>
</div> 