<div class="container">
    <app-stats [isMe]="true"></app-stats>
            <div >
                <div>
                    <label>Change password</label>
                    <input #currentPw placeholder="Current password" type="password">
                    <input #newPw placeholder="New password" type="password">
                    <button (click)="changePassword()">Submit</button>
                </div>
                <div>
                    <label>Delete User</label>
                    <input #currentPw1 placeholder="Current password" type="password">
                    <input #currentPw2 placeholder="Confirm password" type="password">
                    <button (click)="deleteUser()">Submit</button>
                </div>
                <button (click)="onLogout()">Logout</button>
            </div>
  
</div>