.container{
    justify-content: center;
    margin-top:1%;
    background-color:#f0c380;
    display: flex;
    flex-direction: column;
    width: 350px; 
    padding: 1rem;
    border: 1px solid;
    border-radius: 10px
}
