/* You can add global styles to this file, and also import other style files */
:root {
    --text-color:white;
    --main: #fce3b3;
    --secondary: #f6c05c;
    --main-btn-color: #cc6018;
    --cancel-btn-color:#4d1f00;
    --a-color: #32a83c;
    --b-color: #dea749;
    --c-color: #de4949;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button:hover:enabled{
    color: var(--text-color);
    background-color: var(--main-btn-color);
}

button{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: var(--main-btn-color);
    border-color: var(--main-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    /* border: 1px solid; */
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button:disabled{
  opacity: 0.3;
}

.mat-spinner circle{
    stroke: #f6c05c;
    display: flex;
    text-align: center;
    align-items: center;
}
.cancel-btn{
    color:var(--cancel-btn-color)
}
.cancel-btn:hover:enabled{
    background-color: var(--cancel-btn-color);
}
.cancel-btn:focus{
    box-shadow:0 0 0 0.25rem var(--cancel-btn-color);
}

.card{
    padding:1%;
    margin: 0% 1% 1% 1%;
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black  ;
    background-color:#f0c380;
    border-radius:15px;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);  
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.A{
    color: var(--a-color);
    border-color: var(--a-color);
}

.A:hover:enabled{
    color: var(--text-color);
    background-color: var(--a-color);
}

.B{
    color: var(--b-color);
    border-color: var(--b-color);
}

.B:hover:enabled{
    color: var(--text-color);
    background-color: var(--b-color);
}


.C{
    color: var(--c-color);
    border-color: var(--c-color);
}

.C:hover:enabled{
    color: var(--text-color);
    background-color: var(--c-color);
}
