/* You can add global styles to this file, and also import other style files */
:root {
    --text-color:white;
    --main-btn-color: #cc6018;
    --cancel-btn-color:#4d1f00;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
