<div class="home-container">
    <div class="criteria">
        <div>
            <input class="searchbar" (keyup.enter)="search(input.value)" #input placeholder="Search title">
            <p *ngIf="error">Title must be at least 3 characters long</p>
        </div>

        <app-sort-by></app-sort-by>

        <app-filter *ngIf="showFilter" (closeFilter)="onFilter()"></app-filter>
        <button style="margin-bottom:1%" *ngIf="!showFilter && loggedIn" type="button"
            (click)="onFilter()">Filter🡇</button>
        <div *ngIf="(user$|async) as user">
            <button style="margin-bottom:1%" *ngIf="user.frogcoins>2" (click)="onNewStoryClicked()">Create new
                story</button>
        </div>
    </div>

    <div *ngIf="(storyList$|async) as storyList">
        <div *ngIf="storyList" class="list-container">
            <app-story-card *ngFor="let story of storyList$|async" [story]="story"
                [favorite]="favoriteIds.includes(story._id)"></app-story-card>
        </div>
        <div *ngIf="!storyList" class="list-container">
            <mat-spinner [diameter]="50"> </mat-spinner>
        </div>
    </div>

</div>