app-story-card{
    display:flex;
    justify-content: center;
}
app-sort-by{
    margin-right:5%
}

.criteria{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    width: 100%;
}

