app-story-card{
    display:flex;
    justify-content: center;
}

app-filter{
    width:100%;
    display:flex;
    justify-content: center
}

.active{
    text-decoration: underline;
}
.criteria{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    width: 100%;
}
.pending{
    display:flex;
    align-items: center;
    justify-content:space-around
}
.pending span{
    margin-right:1rem;
    font-size: 1rem;
    cursor: pointer;
    color:red
}
.searchbar{
    border:  transparent;
    padding:5px;
    text-align:center;
    border-bottom: 1px solid;
    font-size: 1rem;
}
.searchbar:focus{
    outline: none;
}


