.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px; 
    margin-top:1rem;
}
input{
    margin-bottom:3%;
    padding:1%;
    border:transparent;
    text-align:center;
    border-bottom: 1px solid
    
}

