.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px; 
    margin-top:1rem;
    padding:0;
}
input{
    margin-bottom:3%;
    padding:1%;
    border:transparent;
    text-align:center;
    border-bottom: 1px solid
    
}
.google-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(66, 133, 244);
    color: rgb(255, 255, 255);
    border:1px solid rgb(66, 133, 244);
    margin-top:1%
}

button:hover:enabled{
    background-color: rgb(53, 120, 231);
    border-color: rgb(53, 120, 231);
}

