<div class="container" mat-dialog-content>
  <input required [(ngModel)]="data.title" placeholder="Story title" />
  <mat-select required placeholder="Select a language" [(ngModel)]="data.language" >
    <mat-option *ngFor="let language of languages" [value]="language.name">{{language.name}}
    </mat-option>
  </mat-select>
  <mat-radio-group required [(ngModel)]="data.level" aria-label="Select an option">
    <mat-radio-button value="A">Beginner (A)</mat-radio-button>
    <mat-radio-button value="B">Intermediate (B)</mat-radio-button>
    <mat-radio-button value="C">Advanced (C)</mat-radio-button>
  </mat-radio-group>
  <textarea class="description" placeholder="A short summary/introduction to your story" matInput [(ngModel)]="data.description"></textarea>
  <textarea required class="text" placeholder="The first page of your story" matInput [(ngModel)]="data.text"></textarea>
  <input  [(ngModel)]="data.word1" placeholder="Word #1" />
  <input  [(ngModel)]="data.word2" placeholder="Word #2" />
  <input  [(ngModel)]="data.word3" placeholder="Word #3" />
  <button mat-button [mat-dialog-close]="data">Submit</button>
</div>